:host {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;

  background-color: var(--bg-secondary);

  button {
    background-color: var(--bg-secondary);

    &.active-filter {
      background-color: #fff;
    }
  }

  button,
  input,
  select {
    width: 100%;
    text-align: start;
    color: inherit;
  }
}

section {
  padding: 1rem;
  
  p {
    margin-bottom: 1rem;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 17.5rem), 1fr));
  gap: 1rem;
  list-style: none;
}
