@let product = this.product();

@if (product) {
  <article>
    <p [style.color]="'var(--color-accent)'">{{ product.category }}</p>
    <h2>{{ product.name }}</h2>
    <p class="description">{{ product.description }}</p>
    <p [style.color]="'var(--color-accent)'">$ {{ product.price }}</p>
    @if (product.isFeatured) {
      <p>Producto destacado!</p>
    }
    @if (product.isOnSale) {
      <p>Producto en oferta!!</p>
    }
    <div class="actions">
      <button (click)="isEditing.update((v) => !v)">{{ isEditing() ? 'Cancelar' : 'Editar' }}</button>
      <button (click)="onProductDeleted()" [disabled]="isEditing()">Borrar</button>
    </div>
  </article>
  @if (isEditing()) {
    <app-product-form
      [editingProduct]="product"
      (editted)="onEditedProduct($event)"
    ></app-product-form>
  }
}
